.bgHomeRect1 {
  animation: bghome 7s ease 0s infinite alternate;
}

.bgHomeRect2 {
  animation: bghome 3s ease 0.5s infinite alternate;
}

.bgHomeRect3 {
  animation: bghome 3s ease 1s infinite alternate;
}

.bgHomeRect4 {
  animation: bghome 3s ease 1.5s infinite alternate;
}

// @keyframes bghome {
//   0% {
//     transform: translate3d(0, 0, 0);
//   }

//   100% {
//     transform: translate3d(0, 30px, 0);
//   }
// }

// @keyframes bgball {
//   0% {
//     transform: translate3d(0, 0, 0);
//   }

//   100% {
//     transform: translate3d(200px,-100px, 0);
//   }
// }
