@import '../../styles/_partials/mixins';


.container {
  @extend .containers;
}

.peopleEverybody{
  @extend .flex_item_4;
  @extend .flex_column;

  h2 {
    @extend .mt-2;
  }

  > p {
    @extend .my-2;
  }
  a{
    @extend .link-style;
  }

  .list {
    @extend .mt-2;

    .list_item {
      @extend .bg_icon_check;
      list-style: none;
      position: relative;

      padding: .5rem .5rem .5rem 4.5rem;
      margin-bottom: 3rem;

      &::after {
        content: attr(data-after);
        position: absolute;

        display: block;
        width: 42px;
        height: 42px;
        top: 12px;
        left: 8px;
      }
    }
  }
}

.flex_item_1 {
  @extend .flex_column;
  @extend .mx-2;
  @extend .my-3;
}


#people2 {
  @extend .mx-2;
  @extend .my-3;

  @include responsive(sm) {
    display: none;
  }
}

.flex_item_3 {
  @extend .mx-2;
}
