*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;

}

@import '_partials/_colors';
@import '_partials/_layout';
@import '_partials/_typography';
@import '_partials/_spacing';


html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;

  -webkit-font-smoothing: antialiased;

  scroll-behavior: smooth;
  background-color: $white-dark;
  position: relative;

  &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($color: #000000, $alpha: .2);
    }


}

a {
  @include typeface-2(p2, desktop);
  text-decoration: none;
  color: $black-normal;
  transition: .5s ease;

  &:hover {
    opacity: .9;
  }
}

button {
  cursor: pointer;
  border: 0;
}

svg,
img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid #f00;
}
