

.card{
  .cardShadow{
    ellipse{
      transform-origin: center center;
        transform-box: fill-box;
        fill-opacity: 0.15;
        animation: cardShadow 3s ease infinite alternate;

        @keyframes cardShadow {
          0%{
            fill-opacity: 0.15;
          }
          100%{
            fill-opacity: 0.4;
          }

        }
    }
  }


  .cardVerse{
    transform-origin: center center;
    transform-box: fill-box;
    transform: translate3d(0,-40px,0) rotate(0deg);
    animation: fignu3_card_Verse_move 3s ease infinite alternate;


    @keyframes fignu3_card_Verse_move {
      0%{
        transform: translate3d(0,-40px,0) rotate(0deg);
      }

      100%{
        transform: translate3d(0, 20px, 0) rotate(5deg);
      }
    }

  }
  .cardFront{
    transform-origin: center center;
      transform-box: fill-box;
      transform: translate3d(0, -40px, 0) rotate(0deg);
      animation: fignu3_card_Front_move 3s ease 1s infinite alternate;


      @keyframes fignu3_card_Front_move {
        0% {
          transform: translate3d(0, -40px, 0) rotate(0deg);
        }

        100% {
          transform: translate3d(0, 20px, 0) rotate(-5deg);
        }
      }

  }
}
