.people1 {
  opacity: 0;
  animation: people 10s ease 0s infinite;
}

.people2 {
  opacity: 0;
  animation: people 10s ease 5s infinite;
}

@keyframes people {
  0% {
    opacity: 0;
  }

  20%,
  50% {
    opacity: 1;
  }

  70%,
  100% {
    opacity: 0;
  }
}
