@import '../../styles/_partials/_mixins.scss';


.container {
  max-width: $container-xl;
  margin: 0 auto;


  padding: 96px 24px;


  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  @include responsive(sm) {
    flex-direction: column;
  }

}

.swiper_slider {}


.swiper_container {
  width: 100%;
  height: 100%;
  position: relative;
  // overflow: hidden;

  @include responsive(sm) {
    display: flex;
    flex-direction: column;
  }

}
