@import '../../styles/_partials/mixins';

.container {
  @extend .containers;
  @extend .hero;
  @extend .py-5;
}

.hero {
  height: 90vh;

  @include responsive(sm) {
    height: auto;
  }
}

.flex_item_1 {
  @extend .py-3;

  p {
    @extend .my-2;
  }

  div {
    @extend .flex_start;

    a {
      img {
        width: 36px;
        height: 36px;
        @extend .ml-1;
      }
    }
  }
}
