// Layout of project

//Container device

$container-xl: 1440px;
$container-lg: 1140px;
$container-md: 960px;
$container-sm: 540px;


//Mixin responsive of media query

@mixin responsive ($device) {
  @if $device ==xl {
    @media screen and (min-width: $container-xl) {
      //for resolution upper than 1440px
      @content;

    }
  }

  @else if $device ==lg {
    @media screen and (max-width:$container-xl) and (min-width: $container-lg) {
      //for resolution between 1140px and 1440px
      @content;
    }
  }

  @else if $device ==md {
    @media screen and (max-width:$container-lg) and (min-width: $container-md) {
      //for resolution between 960px and 1140px
      @content;
    }
  }

  @else if $device ==sm {
    @media screen and (max-width:$container-md) {
      //for resolution less than 960px
      @content;
    }
  }

  @else if $device ==xs {
    @media screen and (max-width:$container-sm) {
      //for resolution less than 540px
      @content;
    }
  }
}


.containers {
  max-width: $container-xl;
  margin: 0 auto;

  padding: 6rem 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;



  //para nao ter barra de rolagem
  overflow: hidden;

  @include responsive(sm) {
    flex-direction: column;
    padding: 2rem 1.125rem;
  }
}

.flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.flex_wrap {
  flex-wrap: wrap;
}


.flex_item_1 {
  flex: 1 1 360px; //360px flex-basis
}

.flex_item_2 {
  flex: 2 1 360px; //360px flex-basis
}

.flex_item_3 {
  flex: 3 1 360px; //360px flex-basis
}


.flex_item_4 {
  flex: 4 1 360px; //360px flex-basis
}


.flex_item_5 {
  flex: 5 1 360px; //360px flex-basis
}

.flex_item_auto {
  flex: 2 1 auto;
}

.w_auto {
  width: auto;
}

.w_100 {
  width: 100%;
}

.w_50 {
  width: 50%;
}

.w_25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}


//++++++++++++++++++++++++++ ICONS ***************************//
.bg_icon_mobile {
  &::after {
    background-image: url('../../assets/icon-mobile.svg');
    background-size: cover;
    transition: .5s ease;
    cursor: pointer;

    filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  }

  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

.bg_icon_card {
  &::after {
    background-image: url('../../assets/icon-card.svg');
    background-size: cover;
    transition: .5s ease;
    cursor: pointer;

    filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  }

  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

.bg_icon_check {
  &::after {
    background-image: url('../../assets/icon-check.svg');
    background-size: cover;
    transition: .5s ease;
    cursor: pointer;

    width: 40px;
    height: 40px;
    top: 16px;
    left: 8px;

    filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  }

  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

.icons {
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.15));
  transition: .5s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}


//++++++++++++++++++++++++++ ICONS ***************************//
